node_modules
npm-debug.log
temp
yarn-error.log
/samples
/src
/docs
appveyor.yml
mkdocs.ps1
mkdocs.yml
publish.ps1
build.ps1
yarn.lock
/dist/helpers
/dist/*.ts
tsconfig.json
jest.config.js
README.md
*.tgz